.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer {
    position: relative;
    margin-right: 10px;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(21, 175, 21);
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarTitle {
    margin-bottom: 20px;
}

.rightbarUserName {
    font-weight: 500;
    font-family: sans-serif;
}